
 .u-body {
  background-image: linear-gradient(white, #999999);
  height: 100vh;
}


.u-section-1 .u-text-1 {
  margin: 46px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 25px 198px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: -31px 692px 0 135px;
}

.u-section-1 .u-group-1 {
  width: 182px;
  min-height: 52px;
  height: auto;
  margin: 31px auto 0 201px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-group-2 {
  width: 182px;
  min-height: 52px;
  height: auto;
  margin: -52px 208px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 44px 688px 0 139px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: -25px 142px 0 685px;
}

.u-section-1 .u-shape-1 {
  width: 350px;
  height: 350px;
  margin: 0px 183px 0 auto;
  background-color: #0000

}

.u-section-1 .u-shape-2 {
  width: 350px;
  height: 350px;
  margin: -350px auto 0 180px;
  background-color: #0000

}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 592px;
    margin-left: 35px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 588px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 42px;
    margin-left: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-right: 407px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 407px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 149px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 227px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 227px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-top: 32px;
    margin-right: 94px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -70px;
    margin-right: 27px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
    margin-left: 158px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-group-2 {
    margin-right: 158px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-6 {
    margin-top: 66px;
    margin-right: 27px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -38px;
    margin-left: 27px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 16px;
    margin-right: 109px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -332px;
    margin-left: 109px;
  }
}
