.u-section-1 .u-sheet-1 {
  min-height: 1401px;
}

.u-section-1 .u-text-1 {
  margin: 63px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 140px 692px 0 135px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -76px 140px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 417px;
  min-height: 155px;
  height: auto;
  margin: 75px auto 0 92px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-group-2 {
  width: 417px;
  min-height: 155px;
  height: auto;
  margin: -155px 92px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 65px 692px 0 135px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: -38px 148px 0 679px;
}

.u-section-1 .u-shape-1 {
  width: 350px;
  height: 350px;
  margin: 32px 126px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 350px;
  height: 350px;
  margin: -350px auto 60px 126px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 592px;
    margin-left: 35px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 592px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 48px;
    margin-left: 579px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 407px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 407px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 227px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 227px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 27px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 88px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 27px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -51px;
    margin-left: 27px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-top: 29px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    height: 340px;
    margin-top: -332px;
    margin-bottom: 0;
    margin-left: 0;
  }
}
